**/node_modules
**/__pycache__
**/*.pyc
**/.venv

**/.env
**/.env.*
!**/.env.example

**/logs
**/.killswitch

**/tests
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache

.git
.github
.gitignore
.vscode
.idea

*.md
!README.md

docker-compose.yml
docker-compose.*.yml
.dockerignore
